VITE_QMS_API_BASE=http://127.0.0.1:3145/api
VITE_FEATURE_WORKFLOW_INBOX=true
VITE_FEATURE_NOTIFICATIONS_CENTER=true
VITE_FEATURE_COLLAB_PANEL=true
VITE_FEATURE_API_GET_CACHE=true
VITE_QMS_GET_CACHE_TTL_MS=15000
